@page "/"
@using System.Diagnostics
@using NAudio.Wave
@using System.Timers
@inject ITranscriptionService transcriptionService
@inject IConnectionService bluetoothService
@inject ConversationService conversationService
@implements IDisposable

<MudStack Justify="Justify.SpaceBetween" Class="mx-2" Style="height: calc(100vh - 100px);">
    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mt-4">

        <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center">
            <MudToggleIconButton @bind-Toggled="isDeviceConnected"
                                 Icon="@Icons.Material.Filled.Bluetooth"
                                 Color="@Color.Error"
                                 ToggledIcon="@Icons.Material.Filled.BluetoothConnected"
                                 ToggledColor="@Color.Success" />
            <MudText Typo="Typo.body1" Color="@(isDeviceConnected? Color.Success: Color.Error)">@(isDeviceConnected ? "Connected" : "Disconnected")</MudText>
        </MudStack>
        @if (isRecording)
        {
            <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mr-3">
                <span class="recording-indicator"></span>
                <MudText Typo="Typo.body1" Color="Color.Error">Recording</MudText>
            </MudStack>
        }

    </MudStack>

    <div style="flex: 1; min-height: 0;">
        <TranscriptContainer Messages="@transcriptEntries" />
    </div>
    <MudStack Justify="Justify.Center"
              AlignItems="AlignItems.Center"
              Style="max-width: 400px; width: 100%; margin: 0 auto;"
              Class="pa-4">
            <MudLoadingButton Variant="Variant.Filled"
                              StartIcon="@(isRecording ? @Icons.Material.Filled.Stop : @Icons.Material.Filled.Mic)"
                              Color="@(isRecording ? Color.Error : Color.Primary)"
                              Class="rounded-xl py-3"
                              FullWidth="true"
                              Loading="@stateChanging"
                              @onclick="ToggleRecording">
                @(isRecording ? "Stop" : "Start") Recording
            </MudLoadingButton>
    </MudStack>
</MudStack>


