<div class="conversation-container-wrapper">
    <MudTabs Elevation="0"
             Rounded
             Outlined
             Centered
             ApplyEffectsToContainer
             PanelClass="conversation-tab-panel"
             MinimumTabWidth="80px">
        <MudTabPanel Icon="@Icons.Material.Filled.Mic">
            <div class="transcript-panel-wrapper">
                <TranscriptPanel Messages="@Messages" />
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.AutoAwesome">
            <div class="tab-content-wrapper">
                <MudText>Summary</MudText>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.TaskAlt">
            <div class="tab-content-wrapper">
                <MudText>Tasks</MudText>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Timeline">
            <div class="tab-content-wrapper">
                <MudText>TimeLine</MudText>
            </div>
        </MudTabPanel>
    </MudTabs>
</div>

@code {
    [Parameter]
    public List<TranscriptEntry> Messages { get; set; } = [];
}